# Copy to .env and adjust values
DATABASE_URL="postgresql://admin:admin123@localhost:5433/propert?schema=public"

FRONTEND_URL="http://localhost:3000"
PORT=4000

AWS_ACCESS_KEY_ID=minioadmin
AWS_SECRET_ACCESS_KEY=minioadmin123
S3_ENDPOINT=http://localhost:9000
S3_BUCKET_NAME=propert-uploads
AWS_REGION=us-east-1
